{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/css/navbar.css' %}">

<nav class="nav-wrapper">
  <div id="logo">

    <a id="logo-link" href="{% url 'gallery' %}">
      <img src="{% static 'images/icons/logo.png' %}" alt="logo">
    </a>

  </div>

  <div id="navigation">
    <ul class="nav-links">
      
      <li class="nav-item">
          
        <a href="{% url 'add' %}">
          <button id="add-button">Add Photo</button>
        </a>


        <span>Welcome, {{request.user}}</span>
        {% if request.user.is_authenticated %}
        
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        
        <a href="{% url 'login' %}">Login</a>
        
        {% endif %}
        
          
          
      </li>

    </ul>
  </div>

</nav>